{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ごはんぼっと</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extraheader %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand flex-md-row navbar-light" style="background-color: orange;">
    <div class="container justify-content-between">
        <a href="/gohanbot" class="navbar-brand " style="padding-bottom: 10px;">ごはんぼっと</a>
    </div>
</nav>
<main style="margin-top: 20px;">
    <div class="container">
       {% block main %} {% endblock %}
    </div>

</main>

</body>



</html>