{% extends 'base.html' %}
{% block main %}
    <div>
        <h2 class="title">
            おみせいちらん
        </h2>
    </div>
    {% if shops %}
        <table class="table">
            <thead>
            <tr>
                <th>おみせ</th>
                <th>しゅるい</th>
                <th>とうこうしゃ</th>
            </tr>
            </thead>
            <tbody>
            {% for shop in shops %}
                <tr>
                    <th>{{ shop.shop }}</th>
                    <th>{{ shop.food_kind }}</th>
                    <th>{{ shop.created_by.username }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>おみせがとうろくされていないよ</p>
    {% endif %}
    <div style="display: flex; justify-content: left; margin-top: 50px;">
        <div style="">
            <h3>きょうのごはんをきめる</h3>
            <a href="{% url 'lottery' %}" class="btn"
               style="background-color: orange; color: white;width: 100px">ご飯くじ</a>
        </div>
        {% if user.is_authenticated %}
        <div style="margin-left: 200px;">
            <h3>おみせをとうろくする</h3>
            <a href="{% url 'shop_register' %}" class="btn"
               style="background-color: orange;color: white; width: 100px;">登録</a>
        </div>
        {% endif %}
    </div>

{% endblock %}