.idea
config/__pychache__/
__pycache__/

.env
.env_development
.env_heroku
.env_production
.env_dev
venv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
