{% load static %}
{% load django_bootstrap5 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="今日のごはんはなににしようかなあ"/>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>ごはんぼっと</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extraheader %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand flex-md-row navbar-light"
         style="background-color: orange;">
        <div class="container justify-content-between">
            <a href="/" class="navbar-brand " style="padding-bottom: 10px;">ごはんぼっと</a>
            <ul class="navbar navbar-nav mr-md-2">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'logout' %}">ろぐあうと</a>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'login' %}">ろぐいん</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                                            href="{% url 'signup' %}">さいんあっぷ</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<main style="margin-top: 20px;">
    <div class="container">
        {% block main %} {% endblock %}
    </div>

</main>
<footer style="height: 70px; width: 100%; position: fixed; bottom: 0; background-color: orange">
    <div style="text-align: right">
        <img src="{% static 'gohanbot/img/profile.png' %}" alt="うまじろー" height="100%">
        <p style="display: inline-block; color: white; margin-right: 100px;">ぎんじろう　おーる　らいと　りざーぶど</p>
    </div>
</footer>
</body>


</html>